<div class="container-fluid"> 
    <div class="row">
        <div class="col-md-3">
            <div class="works my-4">
                <table>
                    <tr>
                        <th class="lead"><em>Make each day your Masterpiece</em></th></tr>
                        <tr><th></th></tr>                        
                        <tr><th><a href="https://github.com/Ressimen" target="blank" class="btn btn-success1 text-white">GitHub</a></th></tr>
                        <tr><th></th></tr>
                        <tr><th><a href="https://dribbble.com/ressimen_rodriques" target="blank" class="btn btn-warning1 text-white">Dribble</a></th></tr>
                    
                </table> 
            </div> 
        </div>
        <div class="col-md-9">
            <div id="projectsCarousel" class="carousel slide my-4">
                <div class="carousel-indicators">
                  <button type="button" data-bs-target="#projectsCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                  <button type="button" data-bs-target="#projectsCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
                  <button type="button" data-bs-target="#projectsCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <video width="650" height="450" controls autoplay>
                        <source src="../../../assets/matrimonyapp-demo.mp4" type="video/mp4">
                    </video>
                    <div class="carousel-caption d-none d-md-block">
                      <p>Matrimony App<br>
                      Shortlisting pending profiles<br>
                      <small>Tech Stack : Angular v16, Angular Material</small></p>
                      
                      
                    </div>
                  </div>
                  <div class="carousel-item">
                    <video width="650" height="450" controls autoplay>
                        <source src="../../../assets/old-portfolio.mp4" type="video/mp4">
                    </video>                
                    <div class="carousel-caption d-none d-md-block">
                        <p>Portfolio<br>
                            My old portfolio<br>
                            <small>Tech Stack : Angular v10, Bootstrap</small></p>
                    </div>
                  </div>
                  <div class="carousel-item">
                    
                    <div class="carousel-caption d-none d-md-block">
                        <p>Registration Form<br>
                            Registration Form <br>
                            <small>Tech Stack : Angular v16</small></p>
                    </div>
                  </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#projectsCarousel" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#projectsCarousel" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
                
              </div>
          
        </div>
    </div> 
           
          
</div>