h3 {
   position: relative;
   top: 12vh;
   display: inline;
}

.background-img {
   max-width: 100%;
   height: auto;
   object-fit: cover;
}

.experience1 {
   position: absolute;
   bottom: 5%;
   left: 25px;
   animation-name: balloonAnimation;
   animation-duration: 10s;
   animation-iteration-count: infinite;
   animation-direction: alternate;
}

.experience1 h5 {
   text-align: center;
}

.experience1 p {
   text-align: center;
}

.experience2 {
   position: absolute;
   bottom: 200px;
   left: 300px;
   animation-name: balloonAnimation;
   animation-duration: 14s;
   animation-iteration-count: infinite;
   animation-direction: alternate;
}

.experience2 h5 {
   text-align: center;
}

.experience2 p {
   text-align: center;
}

.experience3 {
   position: absolute;
   bottom: 300px;
   left: 590px;
   animation-name: balloonAnimation;
   animation-duration: 18s;
   animation-iteration-count: infinite;
   animation-direction: alternate;
}

.experience3 h5 {
   text-align: center;
}

.experience3 p {
   text-align: center;
}

.experience4 {
   position: absolute;
   bottom: 400px;
   left: 890px;
   animation-name: balloonAnimation;
   animation-duration: 22s;
   animation-iteration-count: infinite;
   animation-direction: alternate;
}

.experience4 h5 {
   text-align: center;
}

.experience4 p {
   text-align: center;
}

.resume {
   position: absolute;
   bottom: 44px;
   right: 20px;
}


@keyframes balloonAnimation {

   from {
      bottom: 5%;
   }

   to {
      bottom: 50%;
   }
}

@media (min-width:320px) and (max-width:375px) {
   h3 {
      position: relative;
      top: 20vh;
      display: inline;
   }

   .resume {
      position: absolute;
      top: 26vh;
      right: -23vw;
   }

   .background-img {
      max-width: max-content;
      height: auto;
      object-fit: cover;
   }

   @keyframes balloonAnimation1 {

      from {
         top: 165%;
      }

      to {
         top: 30%;
      }
   }

   .experience1 {
      position: absolute;
      top: 165%;
      left: 25px;
      animation-name: balloonAnimation1;
      animation-duration: 10s;
      animation-iteration-count: infinite;
      animation-direction: alternate;
   }

   .experience2 {
      position: absolute;
      top: 165%;
      left: 100vw;
      animation-name: balloonAnimation1;
      animation-duration: 12s;
      animation-iteration-count: infinite;
      animation-direction: alternate;
   }

   .experience3 {
      position: absolute;
      top: 165%;
      left: 200vw;
      animation-name: balloonAnimation1;
      animation-duration: 14s;
      animation-iteration-count: infinite;
      animation-direction: alternate;
   }

   .experience4 {
      position: absolute;
      top: 165%;
      left: 300vw;
      animation-name: balloonAnimation1;
      animation-duration: 16s;
      animation-iteration-count: infinite;
      animation-direction: alternate;
   }

}

@media (min-width:375px) and (max-width:425px) {
   h3 {
      position: relative;
      top: 20vh;
      display: inline;
   }

   .resume {
      position: absolute;
      top: 26vh;
      right: -8vw;
   }

   .background-img {
      max-width: max-content;
      height: auto;
      object-fit: cover;
   }

   @keyframes balloonAnimation1 {

      from {
         top: 165%;
      }

      to {
         top: 30%;
      }
   }

   .experience1 {
      position: absolute;
      top: 165%;
      left: 25px;
      animation-name: balloonAnimation1;
      animation-duration: 10s;
      animation-iteration-count: infinite;
      animation-direction: alternate;
   }

   .experience2 {
      position: absolute;
      top: 165%;
      left: 100vw;
      animation-name: balloonAnimation1;
      animation-duration: 12s;
      animation-iteration-count: infinite;
      animation-direction: alternate;
   }

   .experience3 {
      position: absolute;
      top: 165%;
      left: 200vw;
      animation-name: balloonAnimation1;
      animation-duration: 14s;
      animation-iteration-count: infinite;
      animation-direction: alternate;
   }

   .experience4 {
      position: absolute;
      top: 165%;
      left: 300vw;
      animation-name: balloonAnimation1;
      animation-duration: 16s;
      animation-iteration-count: infinite;
      animation-direction: alternate;
   }
}