<div class="container-fluid mt-2">
    <h3 class="display-6 text-white mx-5">Experience</h3>
    <section>
        <img class="background-img" src="../../../assets/experience1.jpg" alt="">
        <div class="experience1">
            <img src="../../../assets/balloon.png"[width]="150" [height]="100">
            <h6 class="text-white text-center text-decoration-underline">Capgemini</h6>
            <p class="text-white">Consultant <br>[2014-2019]</p>
        </div>
        <div class="experience2">
            <img src="../../../assets/balloon2.png"[width]="150" [height]="100">
            <h6 class="text-white text-center text-decoration-underline">UST Global</h6>
            <p class="text-white">Senior Software Developer<br>[2019-2020]</p>
        </div>
        <div class="experience3">
            <img src="../../../assets/balloon3.png"[width]="150" [height]="100">
            <h6 class="text-white text-center text-decoration-underline">Foray Software</h6>
            <p class="text-white">Senior Software Engineer<br>[2020-2022]</p>
        </div>
        <div class="experience4">
            <img src="../../../assets/balloon.png"[width]="150" [height]="100">
            <h6 class="text-white text-center text-decoration-underline">Altimetrik</h6>
            <p class="text-white">Staff Engineer<br>[2023-2024]</p>
        </div>
        <div class="resume">
            <button class="btn btn-primary" (click)="onDownload()">Download My Resume</button> 
        </div>
        
    </section>
    
</div>