<div class="container-fluid">
    <div class="card mt-5">
        <h1 class="mx-5 my-4 display-6">About</h1>
        <ul class="mx-5 lead">
            <li>Front end developer with 4+ years experience using Angular Framework</li>
            <li>Worked with major MNC's in the past following waterfall and agile methodologies</li>
            <li>Open minded and flexible to work on new projects and technologies</li>
            <li>An ordinary person who loves nature, dogs and travel</li>
        </ul>
        <section class="awards mx-5 my-3">
            <div>
                <h3 class="mx-2 display-6">Awards</h3>
                <ul class="lead">
                    <li>Awarded <strong>“Pat on the back” </strong>for flawless performance and execution at work on 14th August 2023 <br>from <strong>ALTIMETRIK APAC Business Head Ranga K Kanapathy</strong> and <strong>APAC HR Head Krishna Muniramaiah</strong></li>
                </ul>
            </div>
            <div>
                <h3 class="mx-2 display-6">Badges</h3>
                <a href="https://www.cloudskillsboost.google/public_profiles/5a150cc7-880a-463d-9a7b-ef9c3624b9e5/badges/8193680"><img src="../../../assets/genaibadge.png" [width]="150" [height]="150"></a>
            </div>
            
        </section>
    </div>

</div>

